/* font add  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    max-width: 1600px;
}

/* variable color */
:root {
    --maincolor: #FD6E0A;
    --section-bg: #FFF8F3;
    --dark1: #181818;
    --dark2: #474747;
    --dark3: #757575;

}


/* header section design  */
header {
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-position: left 10px center, bottom right;
    background-repeat: no-repeat;
    background-color: var(--section-bg);
    max-width: 1600px;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px;
    margin-inline: 110px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 800;
    color: var(--dark1);
}

.logo h2 span {
    color: var(--maincolor);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--dark2);
}

.menu{
    display: none;
    font-size: 30px;
}
.btn {
    background: var(--maincolor);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-singel {
    background: transparent;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.details .button {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.hero {
    width: 1140px;
    display: flex;
    align-items: center;
    margin-top: 0%;
    margin-inline-start: 110px;
    margin-inline-end: 40px;
}

.hero-content h3 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--dark2);
}

.hero-content h1 {
    font-size: 85px;
    font-weight: 700;
    color: var(--dark1);
    margin-bottom: 5px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: var(--dark3);
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
}

/* About section style  */
section {
    margin-top: 130px;
}

.about-container {
    background: var(--section-bg);
    border-radius: 10px;
    padding: 130px 156px;
}

.title h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--dark1);
    margin-bottom: 30px;
}

.title p {
    text-align: center;
    font-size: 18px;
    color: var(--dark3);
}

.address {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    margin-top: 30px;
}

.item {
    text-align: center;
}

.item p {
    font-size: 20px;
    color: var(--dark3);
}

.item h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark2);
}



/* skills section style */
.skills {
    margin-top: 30px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.skill img {
    width: 44px;
    height: 44px;
}

.skill {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #00000009;
}


/* my resume style  */
.qualification {
    display: flex;
    flex: row;
    gap: 24px;
    margin-top: 100px;
}

.box h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark2);
}

.box-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: var(--dark2);
    margin-bottom: 10px;
}

.box-content h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark3);
    margin-bottom: 20px;
}

.box-content p {
    font-size: 18px;
    color: var(--dark3);
    margin-bottom: 30px;
}

hr {
    height: 1px;
    background: #D1D1D1;
    color: #D1D1D1;
    margin-bottom: 30px;
}

.information-container .button {
    text-align: center;
}

/* footer section design  */
footer {
    background: var(--section-bg);
    margin-top: 100px;
    padding-block: 130px;
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    gap: 100px;
}

.footer-box h2,
.footer-box p {
    margin-bottom: 25px;
}

.footer-box {
    flex-basis: 50%;
}

.footer-box form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 18px 30px;
    width: 100%;
    font-size: 16px;
    color: var(--dark3);
    border-radius: 5px;
    margin-bottom: 24px;
    font-family: "Open Sans", sans-serif;
    border: none;
}

.social img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}